<launch>
  
  <!-- laser --> 
  <node pkg="sicktoolbox_wrapper" type="sickpls" name="sickpls" output="screen">
    <param name="port" value="/dev/ttyR2" />
    <param name="baud" value="38400" />
    <param name="use_rep_117" value="true" />
    <param name="frame_id" value="laserbase" />
  </node>
  

</launch>
